@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > div:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}


@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* 사이드 바 위치 조정*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.486);
}

/*----------------사이드 바 버튼 열리는 곳----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

/*----------------사이드 바 버튼 애니메이션----------------*/
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}



/*----------------사이드 바 크기 레이아웃----------------*/
.sidebar-wrapper {
  width: 360px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -600px;
  z-index: 999;
}

/* 사이드 바 메뉴 */
.sidebar-wrapper ul {
list-style-type: none;
padding: 0;
margin: 0;
}


.sidebar-button-style{
  width: 50px;
}


.sidebar-wrapper ul li span {
  transition: all 0.3s;
  color: #bdbdbd;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.774);
}

.sidebar-wrapper ul li span:hover {
  color: #16c7ff;
}





/*----------------sidebar-content----------------*/

.sidebar-content {
max-height: calc(100% - 30px);
height: calc(100% - 30px);
overflow-y: auto;
position: relative;
}

.sidebar-content.desktop {
overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
padding: 10px 20px;
display: flex;
align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
text-transform: uppercase;
font-weight: bold;
flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
cursor: pointer;
font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
padding: 20px;
overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
float: left;
width: 130px;
padding: 2px;
border-radius: 12px;
margin-right: 15px;
overflow: hidden;
height: 130px;
position: relative;

}

.sidebar-wrapper .sidebar-header .user-pic img {
position: absolute;
height: 100%;
width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
font-size: 11px;
margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
font-size: 8px;
margin-right: 4px;
color: #5cb85c;
}

/*-----------------------사이드 바 검색 기능 (미정)------------------------*/

.sidebar-wrapper .sidebar-search > div {
  display: flex;
  padding: 10px 20px;
}

/*----------------------사이드 바 메뉴-------------------------*/
.sidebar-wrapper .sidebar-menu {
padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
font-weight: bold;
font-size: 14px;
padding: 15px 20px 5px 20px;
display: inline-block;
}


.sidebar-menu span{
  font-size: 18px;
  padding: 0px 10px;
  height: 50px;
}



.sidebar-wrapper .sidebar-menu ul li a {
display: inline-block;
width: 100%;
text-decoration: none;
position: relative;
padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sidebar-submenu{
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
padding-left: 25px;
font-size: 13px;
}


/* 소메뉴 'O' 아이콘 추가 */
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li span:before {
content: "\f111";
font-family: "Font Awesome 5 Free";
font-weight: 400;
font-style: normal;
display: inline-block;
text-align: center;
text-decoration: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin-right: 10px;
margin-left: 15px;
padding: 10px 0px;
font-size: 8px;
}






/*--------------------------사이드바 footer 영역------------------------------*/

.sidebar-footer {
position: absolute;
width: 100%;
bottom: 0;
display: flex;
height: 40px;
}
/* 사이드바 하위 아이콘 메뉴들 */
.sidebar-footer > a {
flex-grow: 1;
text-align: center;
height: 30px;
line-height: 30px;
position: relative;
}

.sidebar-footer > a .notification {
position: absolute;
top: 0;
}




.badge-sonar {
display: inline-block;
background: #980303;
border-radius: 50%;
height: 8px;
width: 8px;
position: absolute;
top: 0;
}

.badge-sonar:after {
content: "";
position: absolute;
top: 0;
left: 0;
border: 2px solid #980303;
opacity: 0;
border-radius: 50%;
width: 100%;
height: 100%;
animation: sonar 1.5s infinite;
}


/*------ 스크롤 버튼 -------*/
::-webkit-scrollbar {
width: 5px;
height: 7px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #525965;
border: 0px none #ffffff;
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
background: #525965;
}
::-webkit-scrollbar-thumb:active {
background: #525965;
}
::-webkit-scrollbar-track {
background: transparent;
border: 0px none #ffffff;
border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
background: transparent;
}
::-webkit-scrollbar-track:active {
background: transparent;
}
::-webkit-scrollbar-corner {
background: transparent;
}


.chiller-theme .sidebar-wrapper {
  background: #31353D;
}

/*메뉴 분류 경계선*/
.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}


/* input 메뉴 배경 스타일 */
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}


.input-group .search-menu{
  height: 20px;
  border-radius: 5px;
}


.input-group-append span i{
  font-size: 20px;
}

.input-group button{
  border: none;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.input-group button i{
  color: #6c7b88;
}



/*메뉴 아이콘 부분 애니메이션*/
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
  color: #16c7ff;
}


/*닫기 버튼*/
.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

/*닫기버튼 (hover)*/
.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.sidebar-dropdown i{
  width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 1px;
}


.event-null{
  pointer-events: none;
}


/*메뉴 클릭시 아이콘 색깔 바뀌는 부분*/
.sidebar-dropdown.active i{
  color: #16c7ff;
  text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}



/* 소메뉴, 검색 input 부분 스타일  */
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f481f;
}




/* 주요 타이틀 제목  (Menu, Extra) */
.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}



/* 사이드바 밑부분 레이아웃  */
.sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}


.sidebar-header-menu{
  font-size: 50px;
  height: 60px;
  font-weight: bold;
  line-height: 40px;
}

.user-name{
  margin-top: 30px;
  font-size: 20px;
  display: inline-block;
  width: 150px;
  word-break: break-all;
  color:black;
}

.user-status{
  font-size: 30px;
}



.user-status span{
  font-size: 15px;
  display: inline-block;
}

.user-status i{
  scale: 1.5;
  transform: translateY(-2px) translateX(3px);
  display: inline-block;
  padding-right: 5px;
}