
.post-list {
  list-style: none;
  padding: 0;
  width: 60%;
  margin: 0 auto; 
}

.post-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; 
  margin: 20px auto; 
  padding: 20px; 
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
  cursor: pointer;
}

.post-list li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-list li h2 {
  margin-top: 0;
  font-size: 24px; 
}

.post-list li p {
  margin-bottom: 10px; 
  font-size: 18px; 
  color: #555; 
}
