@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');


.header-logout-button{
    border: none;
    background-color: rgba(0,0,0,0);
    transition: all 0.2s;
    color:#6e7673;
    font-weight: 450;
}

.header-logout-button:hover{
    color:red;
}

.logo-f{
    font-family: "Orelega One", serif;
    font-size: 40px;
    color: black;
    font-weight: 400;
}